*{
    box-sizing: border-box;
}

body{
    height: 100%;
}

.main-bg{
    background-image: url(../media/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    padding: 28px 20px 20px 20px;
}

a{
    text-decoration: none;
 font-size: 20px;
}

.banner{
   text-align: center;
    padding-top: 72px;
    padding-bottom:65px;
}
.banner h2{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
    line-height: 69px;
    margin-bottom: 22px;
}
.banner p{
    max-width: 510px;
    margin: 0 auto;
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;
    margin-bottom: 39px;
}
.banner button{
    background: #ffffff;
    border: none;
    outline: none;
    color: #262626;
    font-size: 16px;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 500;
}











